@charset "utf-8";
/* CSS Document */

@font-face { 

font-family: Astloch; /*downloaded from Google Fonts: https://fonts.google.com/specimen/Astloch#pairings*/

src: url("Astloch-Regular.ttf"); /*link to font*/

}

blockquote {font-family: Astloch, serif; } /*now we can use the name we provided in the @font-face style to use the font file we uploaded to the server space*/

body {
	display: grid;
	grid-template-columns: 100px 10;
	grid-template-rows: 200px;
	grid-gap: 16px;
	font-size: 20px;
}

header {
	grid-row: 1 / 2;
	grid-column: 1 / 4;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(246,246,246,1.00);
	color: rgba(146,146,146,1.00);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
	
}

#sidebarA {
	grid-row: 2 / 4;
	grid-column: 1 / 2;
	width: 350px;
	height: 700px;
	float: left;
	background-color: rgba(246,246,246,1.00);
}

footer {
	display: grid;
	grid-row: 4 / 5;
	grid-column: 1 / 4;
	height: 150px;
	align-items: center;
	justify-items: center;
	background-image: url("french-mountains.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(246,246,246,1.00);
	color: white;
}

.mu:hover {
	transform: scale(2, 2);
}

.fa-envelope-square:hover {
	transform: scale(2, 2);
}

.fa-mobile-alt:hover {
	transform: scale(2, 2);
}


body, #sidebarA, main {
		flex-basis: 25%;
		flex-grow: 1;
		align-items: center;
}

#Vresume {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}

#LAWS {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 2px;
	background-color: gray;

}

#ConfigWebSphere {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 2px;
	background-color: gray;
}

#ConfigMax {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 2px;
	background-color: gray;
}

#maxlogo {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 2px;
	background-color: gray;
}

#awslogo {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	padding: 2px;
	background-color: gray;
}
@media only screen {
	figure, figcaption {
		margin: 0;
		padding: 0;
	}

	figure {
		border: 1px solid black;
		width: 800px;
		padding: 15px;
	}

	figcaption {
		display: block;
		font-weight: bold;
		font-align: center;
		text-align: center;
		font-size: 120%;
		padding-bottom: .25em;
	}

	table {
		border-collapse: collapse;
		border: 1px solid black;
		margin: 10px auto;
		width: 700px;
	}
	thead, tfoot {
		background-color: lightgray;
		text-align: left;
	}

	th:first-child, td:first-child {
		text-align: left;
	}
	th:nth-child(2), td:nth-chuild(2){
		text-align: left;
	}
	tbody tr:nth-child(even){
		background-color: lightgoldenrodyellow;
	}
}

@media print {
	body {
		font-family: "Times New Roman", Times, serif;
		background-color: white;
		color: black;
		font-size: 12pt;
	}
	

	h1, h2 {
		font-family: Verdana, Arial, Helvetica, sans-serif;

	}
	
	.menu{
		display: none;
	}
	aside {
		display: none;
	}
	#Vresume {
		display: none;
	}
	blockquote {
		font-family: Astloch, serif; 
	}
	footer {
		font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		border-top: 1px solid black;
	}
	@page {
  		margin: 1in;
	}
	
}


